body{
	background-color: #C2DED1;
	}		
hr{
	border-style: dotted none none;
	border-color: #ECE5C7;
	border-width: 5px;
	width: 3%;
}
h1{
	color: #66bfbf;
}

h2{
	color: #66bfbf;
}

h3{
	color: #66bfbf;
}